#include<windows.h>
#include"myDialog.h"

DATAENTRY DIALOG DISCARDABLE 0, 0, 1920, 1080
STYLE DS_MODALFRAME| DS_CENTER | WS_CAPTION
CAPTION "DATAENTRY"

BEGIN 
	LTEXT "Name			:", -1,35,10,30,10
	EDITTEXT ID_ETNAME, 70, 10, 150, 10,WS_TABSTOP

	LTEXT "Address			:", -1, 27, 30, 50, 10
	EDITTEXT ID_ETADDRESS, 70, 30, 150, 10, WS_TABSTOP

	LTEXT "Age			:", -1, 41, 50, 20, 10
	EDITTEXT ID_TAGE, 70, 50, 150, 10, WS_TABSTOP

	LTEXT "Salary			:", -1, 32, 70, 30, 10
	EDITTEXT ID_ETSALRS, 70, 70, 150, 10, WS_TABSTOP


	LTEXT "Maritial Staus			:", -1, 5, 90, 60, 10
	AUTORADIOBUTTON "Married", RB_MARRIED 70, 90, 50, 10, WS_TABSTOP |WS_GROUP

	AUTORADIOBUTTON "Unmarried", RB_UNMARRIED 120, 90, 65, 10, WS_TABSTOP | WS_GROUP

	DEFPUSHBUTTON "Continue" ,ID_PBCONTINUE, 33,115, 35, 10, WS_TABSTOP

	PUSHBUTTON "Ok", ID_OK, 140, 115, 25,10
	PUSHBUTTON "Cancel", ID_CANCEL, 230, 115, 30, 10

END







