#include<windows.h>
#include"Receipt.h"

RECEIPT DIALOG DISCARDABLE 0, 0, 200, 70
STYLE DS_MODALFRAME |DS_CENTER | WS_CAPTION | WS_BORDER  | DS_SETFONT |WS_VISIBLE
CAPTION "RECEIPT"


BEGIN
LTEXT "Name:", -1, 35, 10, 64, 10
EDITTEXT ID_ETNAME, 70, 10, 100, 10, WS_TABSTOP
PUSHBUTTON"OK", ID_OK1, 70, 50, 25, 10
PUSHBUTTON"CANCEL", ID_CANCEL1, 120, 50, 30, 10

END


//ThankYou DIALOG DISCARDABLE 0, 0, 200, 70
//STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_BORDER | DS_SETFONT | WS_VISIBLE
//CAPTION "ThankYou"
//
//BEGIN
//PUSHBUTTON"OK", ID_OK3 40,30,25,10
//
//END
//



