#include<windows.h>
//#include"MyDialog.h"
#include"resource.h"

IDB_SPLASHID BITMAP mysplash.bmp
//IDB_DLGIMAGE BITMAP DialogImg.bmp
IDB_DLGIMAGE BITMAP DialogImage.bmp

DATAENTRY DIALOG DISCARDABLE 0,0,800,350
STYLE DS_MODALFRAME | WS_CAPTION |WS_VISIBLE
CAPTION "DATAENTRY"


BEGIN

//PUSH BUTTONS
PUSHBUTTON"OK",IDOK,140,315,25,10
PUSHBUTTON"CANCEL",IDCANCEL,230,315,30,10

LTEXT "RAM:",-1,35,10,64,10

COMBOBOX ID_RAM,105, 9, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST
//RAM SUBTYPE GENERATION
COMBOBOX ID_SUBTYPE_RAM,250, 9, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST
//For core series
COMBOBOX ID_RAM_CORE, 390, 9, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_PRICE_RAM, 520, 9, 96, 10, WS_TABSTOP 

//For Ram Amount
LTEXT "MOTHERBOARD:", -1, 35 , 32, 64, 10
COMBOBOX ID_MOTHERBOARD, 104, 32, 96, 60,WS_TABSTOP | CBS_DROPDOWNLIST
//For first type of Motherboard
COMBOBOX ID_MOTHERBOARD_TYPE, 250, 32, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

//For second type of Motherboard
COMBOBOX ID_MOTHERBOARD_TYPE2, 390, 32, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_MOTHERBOARD_PRICE, 520, 32, 96, 10, WS_TABSTOP

LTEXT "GRAPHICS CARD:", -1, 35, 55, 64, 10
COMBOBOX ID_GRAPHICSCARD, 105, 55, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_GRAPHICS_CARDSUBTYPE, 250, 55, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_GRAPHICS_CARDSIZE, 390, 55, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_GRAPHICSCARD_PRICE, 520, 55, 96, 10, WS_TABSTOP

LTEXT "CPU:" , -1, 35, 78, 64 ,10 
COMBOBOX ID_CPU, 105, 78, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_CPU_TYPE2, 250, 78, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_CPU_CORE, 390, 78, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_CPU_PRICE, 520, 78, 96, 10, WS_TABSTOP

//For Hard Disk type
LTEXT "HARD DISKS:", -1, 35,101,64,10
COMBOBOX ID_HARDDISKS, 105, 101, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST
COMBOBOX ID_HARDDISK_SIZE, 250, 101, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_HARDDISK_TYPE, 390, 101, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_HARDDISK_PRICE, 520, 101, 96, 10, WS_TABSTOP

LTEXT "CD DVD DRIVE:" ,-1, 35, 124, 64, 10
COMBOBOX ID_DVD, 105, 124, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_DVD_TYPE, 250, 124, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_NUMBER_DISKS, 390, 124, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_DVD_PRICE, 520, 124, 96, 10, WS_TABSTOP

LTEXT "SMPS:" -1, 35, 147, 64, 10
COMBOBOX ID_SMPS, 105, 147, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST
//For SMPS type
COMBOBOX ID_SMPS_WATTS, 250, 147, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_SMPS_CABLES, 390, 147, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_SMPS_PRICE, 520, 147, 96, 10, WS_TABSTOP

LTEXT "CABINET:" ,-1, 35, 170, 64, 10
COMBOBOX ID_CABINET, 105, 170, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST
//For priority type
COMBOBOX ID_CABINET_TYPE,250, 170, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_CABINET_TYPE2, 390, 170, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_CABINET_PRICE, 520, 170, 96, 10, WS_TABSTOP

LTEXT "KEYBOARD:", -1, 35, 193, 64, 10
COMBOBOX ID_KEYBOARD, 105, 193, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST
//For keyboard type
COMBOBOX ID_KEYBOARD_COLOR, 250, 193, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_KEYBOARD_TYPE, 390, 193, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_KEYBOARD_PRICE, 520, 193, 96, 10, WS_TABSTOP
//For mouse type

LTEXT "MOUSE:" ,-1, 35, 216, 64, 10
COMBOBOX ID_MOUSE, 105, 216, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_MOUSE_COLOR, 250, 216, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_MOUSE_TYPE, 390, 216, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_MOUSE_PRICE, 520, 216, 96, 10, WS_TABSTOP

//for monitor
LTEXT "MONITOR:", -1, 35, 239, 64, 10
COMBOBOX ID_MONITOR, 105, 239, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_MONITOR_TYPE, 250, 239, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_MONITOR_SIZE, 390, 239, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_MONITOR_PRICE, 520, 239, 96, 10, WS_TABSTOP

//for printer
LTEXT "PRINTER:", -1, 35, 262, 64, 10
COMBOBOX ID_PRINTER, 105, 262, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_PRINTER_COLOR, 250, 262, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_PRINTER_OUTPUT, 390, 262, 96, 60, WS_TABSTOP | CBS_DROPDOWNLIST

COMBOBOX ID_PRINTER_PRICE, 520, 262, 96, 10, WS_TABSTOP

END

